# Testing & Verification

## Routing

- show ip route
- show ip protocols

## OSPF

- show ip ospf neighbor
- show ip ospf interface brief

## BGP

- show ip bgp summary

## HSRP

- show standby
- show standby brief

## Switching

- show vlan brief
- show interfaces trunk
- show etherchannel summary
- show spanning-tree

## End-to-End Connectivity

- Ping
- Traceroute

## Services Verification

- DNS Resolution
- DHCP Lease
- Web Server Access
- Mail Communication
- Wireless Connectivity